<%- include('./partials/header') %>

    <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md">
        <span class="inline-block mt-1 mb-1 text-white">
        </span>
    </div>

    <div class="min-h-screen flex flex-col">
        <div class="container px-10 py-20 flex flex-grow">
            <div class="flex items-start gap-3 overflow-hidden">
                <a href="/owners/upload">
                    <div class="w-28 h-28 rounded-md bg-blue-500">


                        <img src="" alt="">

                    </div>
                </a>
            </div>

        </div>
    </div>
    <%- include('./partials/footer') %>